In [1]:
import pandas as pd

In [2]:
import numpy as np

In [8]:
from numpy.random import randn

In [21]:
my_data = randn(4,3) # Rows, Columns
my_rows = ["A", "B", "C", "D"]
my_cols = ["Monday", "Tuesday", "Wednesday"]

In [23]:
#Dataframe - shift/tab
my_df = pd.DataFrame(my_data, my_rows, my_cols)

In [24]:
my_df

     Monday   Tuesday  Wednesday
A  0.457864 -0.807120   2.166160
B  1.408262 -1.066698   1.230078
C -0.526325 -0.713162  -0.047244
D -0.024830  0.451255   0.324404