In [52]:
import pandas as pd
import numpy as np

In [51]:
# import csv file
my_df = pd.read_csv('dog_data.csv')
my_df

                  Breed        Color            DogName  OwnerZip
0              COCKAPOO        BROWN            CHARLEY     15236
1          GER SHEPHERD  BLACK/BROWN             TACODA     15238
2         BELG MALINOIS      BRINDLE               EICH     15238
3                 MIXED  BLACK/BROWN              ARROW     15104
4   AM PIT BULL TERRIER  WHITE/BROWN             OAKLEY     15139
5      SCOTTISH TERRIER        BLACK             BAILEY     15129
6     YORKSHIRE TERRIER    BLACK/TAN  MIMI PEARL FOSTER     15090
7         DACHSHUND MIX  WHITE/BROWN              LEROI     15101
8     SHETLAND SHEEPDOG  WHITE/BROWN         ZOE VITSAS     15238
9    LABRADOR RETRIEVER       YELLOW              TAFFY     15228
10         BICHON FRISE        WHITE               DUDE     15238
11       LHASA APSO MIX  WHITE/BROWN            CHICKIE     15238
12     AM PITT BULL MIX        BROWN               KING     15235
13     AM PITT BULL MIX        WHITE              EMILY     15108
14     BRITTANY SPANIEL  WHITE/BROWN              ELLIE     15228
15                MIXED        WHITE              RUSTY     15120
16          TERRIER MIX      SPOTTED              ANNIE     15239
17       COCKER SPANIEL       BLONDE                NaN     15120
18       COCKER SPANIEL        BLACK              ROMEO     15214

In [61]:
# Grab first 5 rows
my_df.head()

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [62]:
# Grab certain number of first rows
my_df.head(9)

                 Breed        Color            DogName  OwnerZip
0             COCKAPOO        BROWN            CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN             TACODA     15238
2        BELG MALINOIS      BRINDLE               EICH     15238
3                MIXED  BLACK/BROWN              ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN             OAKLEY     15139
5     SCOTTISH TERRIER        BLACK             BAILEY     15129
6    YORKSHIRE TERRIER    BLACK/TAN  MIMI PEARL FOSTER     15090
7        DACHSHUND MIX  WHITE/BROWN              LEROI     15101
8    SHETLAND SHEEPDOG  WHITE/BROWN         ZOE VITSAS     15238

In [63]:
# Grab last 5 rows
my_df.tail()

               Breed        Color DogName  OwnerZip
14  BRITTANY SPANIEL  WHITE/BROWN   ELLIE     15228
15             MIXED        WHITE   RUSTY     15120
16       TERRIER MIX      SPOTTED   ANNIE     15239
17    COCKER SPANIEL       BLONDE     NaN     15120
18    COCKER SPANIEL        BLACK   ROMEO     15214

In [64]:
# Grab certain numnber of last rows
my_df.tail(8)

               Breed        Color  DogName  OwnerZip
11    LHASA APSO MIX  WHITE/BROWN  CHICKIE     15238
12  AM PITT BULL MIX        BROWN     KING     15235
13  AM PITT BULL MIX        WHITE    EMILY     15108
14  BRITTANY SPANIEL  WHITE/BROWN    ELLIE     15228
15             MIXED        WHITE    RUSTY     15120
16       TERRIER MIX      SPOTTED    ANNIE     15239
17    COCKER SPANIEL       BLONDE      NaN     15120
18    COCKER SPANIEL        BLACK    ROMEO     15214

In [65]:
# Get info about the dataframe
my_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Breed     19 non-null     object
 1   Color     19 non-null     object
 2   DogName   18 non-null     object
 3   OwnerZip  19 non-null     int64
dtypes: int64(1), object(3)
memory usage: 736.0+ bytes

In [66]:
# Get shape of rows and columns
my_df.shape

(19, 4)

In [67]:
# Get number of dimensions
my_df.ndim

2

In [68]:
# Get the column dataTypes
my_df.dtypes

Breed       object
Color       object
DogName     object
OwnerZip     int64
dtype: object

In [69]:
# Get some statistics about the data
my_df.describe()

           OwnerZip
count     19.000000
mean   15183.210526
std       61.830035
min    15090.000000
25%    15120.000000
50%    15228.000000
75%    15238.000000
max    15239.000000

In [70]:
# Describe a specific column
my_df['Breed'].describe()

count        19
unique       16
top       MIXED
freq          2
Name: Breed, dtype: object

In [71]:
# Describe a specific column
my_df['Color'].describe()

count              19
unique             10
top       WHITE/BROWN
freq                5
Name: Color, dtype: object

In [72]:
# Describe a specific column
my_df['DogName'].describe()

count          18
unique         18
top       CHARLEY
freq            1
Name: DogName, dtype: object

In [76]:
# Select specific column Using Brackets
my_df["DogName"]

0               CHARLEY
1                TACODA
2                  EICH
3                 ARROW
4                OAKLEY
5                BAILEY
6     MIMI PEARL FOSTER
7                 LEROI
8            ZOE VITSAS
9                 TAFFY
10                 DUDE
11              CHICKIE
12                 KING
13                EMILY
14                ELLIE
15                RUSTY
16                ANNIE
17                  NaN
18                ROMEO
Name: DogName, dtype: object

In [77]:
# Select specific column Using Dot Notation
my_df.DogName

0               CHARLEY
1                TACODA
2                  EICH
3                 ARROW
4                OAKLEY
5                BAILEY
6     MIMI PEARL FOSTER
7                 LEROI
8            ZOE VITSAS
9                 TAFFY
10                 DUDE
11              CHICKIE
12                 KING
13                EMILY
14                ELLIE
15                RUSTY
16                ANNIE
17                  NaN
18                ROMEO
Name: DogName, dtype: object

In [85]:
# Select specific column Using Location
my_df.iloc[:, 2]

0               CHARLEY
1                TACODA
2                  EICH
3                 ARROW
4                OAKLEY
5                BAILEY
6     MIMI PEARL FOSTER
7                 LEROI
8            ZOE VITSAS
9                 TAFFY
10                 DUDE
11              CHICKIE
12                 KING
13                EMILY
14                ELLIE
15                RUSTY
16                ANNIE
17                  NaN
18                ROMEO
Name: DogName, dtype: object